/*Configurando estilo de minha preferência para os exercícios*/
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+4:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color0: #031f59;
  --color1: #05aff2;
  --color2: #1d5926;

  --font_sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font_serif: "Source Serif 4", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: var(--font_serif);
  font-size: 1.2em;
  line-height: 1.5vh;
}

header {
  background-color: var(--color0);
  padding: 5px;
}

header > h1 {
  font-family: var(--font_sans);
  font-size: 1.8em;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
}

main {
  padding: 10px;
}

main > h1 {
  font-family: var(--font_sans);
  font-size: 1.6em;
  margin-bottom: 1.2vh;
}

main > h2 {
  font-family: var(--font_sans);
  font-size: 1.4em;
  margin-bottom: 1.2vh;
}

main > p {
  text-align: justify;
  hyphens: auto;
  margin-bottom: 1.15vh;
}

main > a {
  color: var(--color0);
  font-weight: bold;
}

main > a:hover {
  color: var(--color1);
}

.tips {
  color: var(--color1);
  font-style: italic;
}
